title,
.title {
  text-align: left;
  margin-bottom: 0.2em;
  font-size: 36px;
}

footer,
.footer {
  text-align: left;
}

.subtitle {
  text-align: left;
  font-size: medium;
  font-weight: bold;
  margin-top: 0;
}

body {
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
  margin: 60px auto;
  max-width: 700px;
  background-color: #f5f0e6;
  background-image: url("noise.png");
  background-repeat: repeat;
  color: #333;
}

h2,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  margin-top: 1.5em;
}

h2 {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1.2em;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  margin-top: 1em;
}

a:link,
a:visited {
  color: #2e7ab8;
}

code,
.code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.125rem;
  line-height: 1.6;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

#investments ul li {
    margin-bottom: 5px; /* Reduces space between list items */
}

#investments p {
    margin: 0; /* Removes default top and bottom margins from paragraphs */
}
